<%= form_for(@sku) do |f| %>
  <% if @sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sku.errors.count, "error") %> prohibited this sku from being saved:</h2>

      <ul>
      <% @sku.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_tbl_id %><br>
    <%= f.text_field :item_tbl_id %>
  </div>
  <div class="field">
    <%= f.label :SKU_type1_id %><br>
    <%= f.number_field :SKU_type1_id %>
  </div>
  <div class="field">
    <%= f.label :SKU_type2_id %><br>
    <%= f.number_field :SKU_type2_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
